.bg-burgundy {
  background: #a52a2a;
}

.btn-burgundy {
  color: #fff !important;
  background-color: #a52a2a !important;
  border-color: #a52a2a !important;
}

.btn-burgundy:hover {
  color: #fff !important;
  background-color: #751717 !important;
  border-color: #751717 !important;
}

.no-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media (max-width: 1000px) {
  .w-25.w-xs-100 {
    width: 100% !important;
  }
  .w-50.w-xs-100 {
    width: 100% !important;
  }
}

.btn-fixed.btn-md {
  padding: 10px;
  border-radius: 35px;
  font-size: 20px;
  line-height: 1.33;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
